.NotePage__back-button {
  margin-top: 20px;
  background-color: white;
}

.field {
  width: 200px;
  color: white;
  /* margin-left: 50px; */
}

.AddNote {
  color: white;
  margin-left: 50px;
}

#note-name-input {
  margin-bottom: 20px;
}

#note-folder-select {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: white;
}

button {
  background-color: white;
}

button:hover {
  cursor: pointer;
}