.NoteListMain {
  width: 500px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.NoteNav__list {
  display: flex;
  flex-direction: column;
  /* height: 100px; */
  justify-content: center;
  padding-right: 30px;

  margin-left: 25px;
  list-style: none;
  
 
  
}

.note__list {
  justify-self: center;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  height: 10%;
  width: 70%;
  padding: 20px;
}

a {
  color: black;
}

.NoteListNavNote__button {
  background-color: white;
  margin-left: 200px;
  margin-bottom: 50px;
  position: relative;
  left: -10px;
  padding-top: 5px;
  width: 70px;
  height: 60px;
  border: 1px solid black;
  border-radius: 150em;
  margin-top: 20px;
}


h1 {
  margin-right: 30px
}